@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* ====================== START HEADER ====================== */
.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* parameters for the header section */
}

/* ------------------------ START HEADER LEFT ------------------------ */
.header__left {
  display: flex;
  position: relative;
  height: 100vh;
  width: 50%;
  min-height: 600px;
  max-height: 756px;
}

.logo__header {
  width: 153px;
  height: 31px;
}

.logo_place_header {
  position: absolute;
  z-index: 1px;
  top: 30px;
  left: 64px;
}

.header__text {
  display: flex;
  flex-direction: column;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 730px;
  margin-left: 64px;
}

.header__title__text {
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 1px;
  justify-content: start;
  align-items: flex-end;
}

.header__subtitle__text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.header__link {
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
}
/* ------------------------ END HEADER LEFT ------------------------ */

/* ------------------------ START HEADER RIGHT ------------------------ */
.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  right: 0;
  bottom: 0;
  width: 50%;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
}
.main__illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  z-index: 2;
}

.header__right__square {
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
  width: 568px;
  height: 568px;
}

.header__square_rotate {
  transition: rotate (-15deg);
  animation: rotation 20s infinite;
}

/* ------------------------ END HEADER RIGHT ---------------------- */

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}
/* ========================== END HEADER ========================= */

.content {
  /* width: auto; */
  margin-top: 100px;
}

/* =========================== START DESCRIPTION =========================== */
.description {
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__title__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.brief__paragraf {
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  display: contents;
}
/* =========================== END DESCRIPTION =========================== */

/* =========================== START TECHNIQUES =========================== */
.techniques {
  background-color: aqua;
  width: 920px;
  margin: auto;
}

.cards {
  list-style-type: none;
  width: 240px;
  margin: 0 100px 0 100px;
  border: 1px red solid;
}

.cards__item {
  width: 160px;
  border: 1px green solid;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  display: flex;
  justify-content: center;
}

.cards__description {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* =========================== END TECHNIQUES =========================== */

/* =========================== START DIGITS =========================== */
.digits {
  width: auto;
  margin-bottom: 100px;
}

.digits__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 69px;
  text-align: center;
  margin-bottom: 20px;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  margin-bottom: 60px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  width: 1100px;
  margin: auto;
  padding: 0;
}

.table__cell {
  justify-content: space-around;
  width: 250px;
  margin-bottom: 60px;
}

.table__cell__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.text__span {
  display: block;
  margin: 20px 0 0 0;
}

/* END DIGITS */

/* START FEYNMAN */
.feynman {
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
  z-index: -2;
}

.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__link__position {
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 867px;
  height: 637px;
}
/* END FEYNMAN */
/* START KAUFMAN */

.kaufman {
  position: relative;
  z-index: -2;
  background-color: #000000;
  height: 80vh;
  width: auto;
  margin: 0;
  padding: 90px 0 90px 0;
  overflow: hidden;
}

.kaufman__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.section-title__dark {
  margin: 0 0 20px 0;
  color: aliceblue;
}

.section-subtitle__dark {
  margin: 0 0 20px 0;
  color: white;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
  z-index: -1;
  margin: auto;
}
/* END KAUFMAN */

/* START FOOTER */
.footer {
  background-color: #000000;
  min-height: 350px;
  width: auto;
  padding: 60px 0 40px 0;
}

.footer__column {
  display: flex;
  margin: auto;
  width: 90%;
  min-height: 350px;
}

.footer__color {
  color: white;
}

.footer__columns__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 711px;
  height: auto;
}

.logo__footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__columns-link {
  width: 150px;
}

.footer__columns__content_about {
  width: 250px;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__table__list {
  padding-left: 0;
}

.footer__list {
  display: flex;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  list-style: none;
}

.footer__columns__content__social {
  width: auto;
}

.footer__social-icons {
  width: 16px;
  margin: 0 10px 0 0;
  padding: 0;
}
/* END FOOTER */
